---
import BaseLayout from '@layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import arrowright from '@assets/icons/arrow-right.svg';

const getTomorrowsDate = () => {
  const tomorrow = new Date();
  tomorrow.setDate(tomorrow.getDate() + 1);
  return tomorrow.toISOString().split('T')[0];
};

const tomorrowsDate = getTomorrowsDate();

const fetchEvents = async () => {
  const options = {
    method: 'GET',
    headers: {
      accept: 'application/json',
      'x-luma-api-key': 'secret-EtDtVkTBFjFoltBNNgZO9EaUY'
    }
  };

  const apiUrl = `https://api.lu.ma/public/v1/calendar/list-events?after=${tomorrowsDate}&series_mode=sessions`;

  try {
    const response = await fetch(apiUrl, options);
    const data = await response.json();
    return data.entries.filter(entry => entry.event.visibility === 'public');
  } catch (err) {
    console.error(err);
    return [];
  }
};

const events = await fetchEvents();
---

<BaseLayout title='Reading Rhythms | Brooklyn Events' description='We throw the world’s best reading parties. Bringing reading, ambient music, and cozy venues together to create a one of a kind experience. Bring any book you want. As seen on TV &amp; in major media.' showNavbar={true} bodyClasses='bg-luma-white text-black font-system' extraClasses='bg-luma-gray text-white font-system'>
   <div class="w-full pl-5 md:pl-20 md:ml-5">
        <a href="https://bucketlisters.com/experience/reading-rhythms/" target="_self" class="underline pb-10">< Back</a>
        <div class="md:mr-24 pb-10">
            <h1 class="md:mb-4 text-xl md:text-3xl font-bold text-left">Reading Rhythms Manhattan</h1>
        </div>
    </div>
  <div class="luma-wrapper max-w-4xl mx-auto">
    <div class="flex items-center justify-between">
      <iframe
  src="https://lu.ma/embed/calendar/cal-Q8l315UsVMWb6h6/events?lt=light&utm_source=bucketlisters"
  width="1000"
  height="1100"
  frameborder="0" 
  style=" border-radius: 4px;"
  allowfullscreen=""
  aria-hidden="false"
  tabindex="0" 
></iframe>
   <div>
   </div>
</BaseLayout>



<style>
@import 'https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/build/vanilla-calendar.min.css';

.loader {
  border-color: #000;
  border-top-color: transparent;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.luma-wrapper:before {
  content: "";
  position: absolute;
  top: -129px;
  left: 0;
  width: 100%;
  height: 180px;
  background: linear-gradient(rgba(45,73,113,0.1) 0%, rgba(181,83,54,0.1) 50%, rgba(47,19,31,0) 100%);
}
.timeline::before {
  @apply absolute w-2 h-2 rounded-full bg-luma-gray z-10;
  content: "";
}
</style>

<style is:global>
 .events-container .event:first-of-type .timeline::after {
  @apply absolute h-full ml-[3px] border border-dashed border-black/10;
  content: "";
}

#calendar {
  @apply w-full min-w-0 mb-4 p-4 bg-black border border-black/5 rounded-md;
}

#calendar .vanilla-calendar-day__btn {
  @apply bg-transparent;
}

#calendar .vanilla-calendar-day__btn {
  @apply text-white;
}

#calendar .vanilla-calendar-day__btn_disabled {
  @apply text-white/50;
}

#calendar .highlighted-day:before {
  content: "";
  @apply absolute -bottom-1 w-2.5 h-2.5 bg-rust border-2 border-luma-gray rounded-full;
}

#calendar .vanilla-calendar-day__btn_today {
  @apply border border-white/25 max-w-8;
}
</style>