---
import { Image } from 'astro:assets';
import bucketlistersLogo from '@assets/images/bl-logo.svg';
---

<nav class="sticky top-0 z-20 backdrop-blur-md border-b border-white/10 transition-all">
  <div class="relative md:-left-10 md:flex md:items-center md:justify-between max-w-4xl mx-auto py-6 px-6 md:px-0">
    <div class="flex items-center">
    <a href="https://bucketlisters.com/explore/city/NYC">
      <Image src={bucketlistersLogo} alt="Bucketlisters logo" class="w-32 md:w-48 h-16 md:h-20 mr-2" />
      </a>
    </div>
    <ul class="flex items-center font-semibold gap-x-4 md-gap-x-6 mt-2 md:mt-0">
          <li class="py-2 border-b-2 border-transparent text-sm md:text-base opacity-50 hover:opacity-100"><a href="/bucketlisters/manhattan">Manhattan Events</a></li>
      <li class="py-2 border-b-2 border-transparent text-sm md:text-base opacity-50 hover:opacity-100"><a href="/bucketlisters/brooklyn">Brooklyn Events</a></li>
    </ul>
  </div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const currentPath = window.location.pathname;
  const navLinks = document.querySelectorAll('nav ul li a');

  navLinks.forEach(link => {
    if (link.getAttribute('href') === currentPath) {
      const parentLi = link.parentElement;
      parentLi.classList.remove('opacity-50');
      parentLi.classList.add('border-black', 'opacity-100');
    }
  });
});
</script>