---
import { Image } from 'astro:assets';
import logoTransparent from '@assets/images/logo-transparent.svg';
---

<nav class="sticky top-0 z-20 backdrop-blur-md border-b border-white/10 transition-all">
  <div class="relative md:-left-10 md:flex md:items-center md:justify-between max-w-4xl mx-auto py-6">
    <div class="flex items-center justify-center md:justify-normal">
      <Image src={logoTransparent} alt="Reading Rhythms logo" class="w-16 md:w-24 h-16 md:h-24 mr-4" />
      <div>
        <div class="mb-1 text-xl md:text-3xl text-white font-display tracking-wider">Reading Rhythms</div>
        <p class="hidden md:inline-block text-white/75 font-serif font-light">Not a book club. A reading party.</p>
      </div>
    </div>
    <ul class="flex items-center justify-center md:justify-normal font-semibold gap-x-4 md-gap-x-6 mt-6 md:mt-0">
      <li class="py-2 border-b-2 border-transparent text-sm md:text-base opacity-50 hover:opacity-100"><a href="/brooklyn">Brooklyn Events</a></li>
      <li class="py-2 border-b-2 border-transparent text-sm md:text-base opacity-50 hover:opacity-100"><a href="/manhattan">Manhattan Events</a></li>
      <li class="py-2 border-b-2 border-transparent text-sm md:text-base opacity-50 hover:opacity-100"><a href="/">Home</a></li>
    </ul>
  </div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const currentPath = window.location.pathname;
  const navLinks = document.querySelectorAll('nav ul li a');

  navLinks.forEach(link => {
    if (link.getAttribute('href') === currentPath) {
      const parentLi = link.parentElement;
      parentLi.classList.remove('opacity-50');
      parentLi.classList.add('border-white', 'opacity-100');
    }
  });
});
</script>