---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title='Reading Rhythms | 404 Page Not Found' description='Not a book club. A reading party. Read with friends to curated music.' fullPage={true}>
  <div class="max-w-xl text-center">
    <h1 class="gradient-text mb-4 text-8xl bg-gradient-to-r from-jean via-beaber to-rust font-display tracking-wider">404</h1>
    <h2 class="mb-4 text-4xl text-dark-gray">Whoops!</h2>
    <p class="my-1 md:text-xl text-dark-gray/75 font-light">It seems like we couldn't find the page you were looking for.</p>
  </div>
</BaseLayout>

<style is:global>
.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
</style>