---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title='Reading Rhythms | Apply' description='We throw the world’s best reading parties. Bringing reading, ambient music, and cozy venues together to create a one of a kind experience. Bring any book you want. As seen on TV &amp; in major media.' fullPage={true}>
  <div data-tf-live="01HKT8TSXVFV7D04SGKZM2DTWH" class="typeform-wrapper w-full h-full"></div>
</BaseLayout>

<script is:inline src="//embed.typeform.com/next/embed.js"></script>

<style is:global>
.typeform-wrapper > div {
  @apply h-full !important;
}
</style>