---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title='Reading Rhythms | Host' description='Not a book club. A reading party. Read with friends to curated music.' fullPage={true}>
  <div data-tf-live="01HKT8TSXVFV7D04SGKZM2DTWH" class="typeform-wrapper w-full md:h-full"></div>
</BaseLayout>

<script is:inline src="//embed.typeform.com/next/embed.js"></script>

<style is:global>
.typeform-wrapper > div {
  @apply h-full !important;
}
</style>