---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title='Reading Rhythms | Host' description='Not a book club. A reading party. Read with friends to curated music.'>
  <div data-tf-live="01HKT8TSXVFV7D04SGKZM2DTWH"></div>
</BaseLayout>

<script is:inline src="//embed.typeform.com/next/embed.js"></script>