---
import { Image } from 'astro:assets';
import BaseLayout from '@layouts/BaseLayout.astro';
import News from '@components/index/News.astro';
import Media from '@components/index/Media.astro';
import Quote from '@components/index/Quote.astro';
import Spotify from '@components/index/Spotify.astro';
import Instagram from '@components/index/Instagram.astro';
import logo from '@assets/images/logo.svg';
import arrowright from '@assets/icons/arrow-right.svg';
---

<BaseLayout title='Reading Rhythms | Not a book club. A reading party.' description='We throw the world’s best reading parties. Bringing reading, ambient music, and cozy venues together to create a one of a kind experience. Bring any book you want. As seen on TV &amp; in major media.'>
	<div class="md:fixed md:top-0 md:left-0 w-full md:h-full md:max-w-[375px] lg:max-w-[475px] mb-8 md:mb-0 md:py-16 md:pl-16">
		<Image src={logo} alt="Reading Rhythms logo" class="w-32 md:w-44 h-32 md:h-44 mb-6 md:mb-8" />
		<h1 class="mb-4 text-4xl text-dark-gray font-display tracking-wider">Reading Rhythms</h1>
		<p class="my-1 md:text-xl text-dark-gray/75 font-light">Not a book club. A reading party.</p>
		<p class="my-1 md:text-xl text-dark-gray/75 font-light">Read with friends to curated music.</p>
		<br><p class="my-1 md:text-xl text-dark-gray/75 font-light"><b>Press 👉 press@readingrhythms.co</b></p>
		<a href="mailto:hello@readingrhythms.co" class="md:absolute md:bottom-16 hidden md:flex items-center justify-center py-4 px-8 bg-dark-gray text-white rounded-xl font-bold leading-snug">
			<span class="mt-0.5">Feedback Or Ideas? Email us!</span>
		</a>
	</div>
	<div class="md:w-[calc(100%-375px)] lg:w-[calc(100%-475px)] md:h-full md:ml-[375px] lg:ml-[475px]">
		<div class="masonry">
			<div>
				<a href="https://lu.ma/readingrhythms-brooklyn?utm_source=website" target="_blank" rel="noopener" id="brooklynTicketsBtn" class="group flex items-center justify-between mb-2 p-4 md:py-6 md:px-8 bg-rust text-white rounded-xl font-bold leading-snug">
					<span class="mt-0.5">Brooklyn Event Tickets</span>
					<Image src={arrowright} alt="Arrow right" class="w-4 ml-2 group-hover:rotate-0 transition duration-250 ease-in-out -rotate-45" />
				</a>
				<br><a href="https://lu.ma/readingrhythms-manhattan?utm_source=website" target="_blank" rel="noopener" id="manhattanTicketsBtn" class="group flex items-center justify-between p-4 md:py-6 md:px-8 bg-dark-purple text-white rounded-xl font-bold leading-snug">
					<span class="mt-0.5">Manhattan Event Tickets</span>
					<Image src={arrowright} alt="Arrow right" class="w-4 ml-2 group-hover:rotate-0 transition duration-250 ease-in-out -rotate-45" />
				</a>
				<br><a href="/apply" id="applyBtn" class="group flex items-center justify-between mb-2 p-4 md:py-6 md:px-8 bg-jean text-white rounded-xl font-bold leading-snug">
					<span class="mt-0.5">Apply to Host or MC in NYC</span>
					<Image src={arrowright} alt="Arrow right" class="w-4 ml-2 group-hover:rotate-0 transition duration-250 ease-in-out -rotate-45" />
				</a>				
			</div>
			<Instagram />
			<News
				title="Reading Rhythms in the NYT!: It’s My Party and I’ll Read If I Want To"
				source="nytimes.com"
				href="https://www.nytimes.com/2023/12/19/books/reading-rhythms.html"
				thumb="/src/assets/media/New_York_Times.webp"
			/>
			<Spotify
				title="RR: Lo-Fi & Piano"
				songs="629"
				href="https://open.spotify.com/playlist/6xEAVQ9006ReaFeeSfR06x?si=UzKBA6J4RiS1ZKVAAzARew&pi=u-elLm48hsQ9ee"
			/>
			<Quote
				title="Literally one of the best events I’ve been to in a really long time!"
				author="Aagam"
			/>
			<Media
				type="photo"
				src="/src/assets/media/Chapter_10_Maison_Mono.webp"
				caption="Chapter 10 @ Maison Mono"
			/>
			<Quote
				title="Reading Rhythms is amazing… Every book club should be like this!"
				author="Reader"
			/>
			<Quote
				title="A millennial library"
				author="Barstool Sports"
			/>
			<Media
				type="video"
				src="https://storage.googleapis.com/creatorspace-public/users%2Fcln66jsyk02gwp301vjhpzgpb%2Fo2IiXETcTwo9owRa-IMG_3727.MOV"
				caption="The Big Read @ FourFiveSix Bar"
			/>
			<Quote
				title="I feel like I might meet my husband at this event!"
				author="Allie"
			/>
			<Media
				type="photo"
				src="/src/assets/media/Chapter_3_on_the_Roof.webp"
				caption="Chapter 3 on the Roof"
			/>
			<Quote
				title="I have my met absolute best friends at this event…"
				author="Jacey"
			/>
			<Media
				type="video"
				src="https://storage.googleapis.com/creatorspace-public/users%2Fcln66jsyk02gwp301vjhpzgpb%2FNOZsvPuKS7s9wRIo-IMG_7150.MP4"
				caption="Reading in The Park"
			/>
			<Media
				type="photo"
				src="/src/assets/media/Readers_FourFiveSix_Bar.webp"
				caption="Readers @ FourFiveSix Bar"
			/>
		</div>
	</div>
	<a href="mailto:hello@readingrhythms.co" class="flex md:hidden items-center justify-center mt-4 p-4 bg-dark-gray text-white rounded-xl font-bold leading-snug">
		<span class="mt-0.5">Feedback Or Ideas? Email us!</span>
	</a>
</BaseLayout>