---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title='Reading Rhythms | Privacy Policy'>
    <div class="text-center">
        <h1 class="text-xl underline">TW Enterprises I LLC</h1>
        <h1 class="text-xl underline">Privacy Policy</h1>
    </div>
    <div>
        <br>
        <p>Please Read This Privacy Policy Before Accessing or Using the Services. TW Enterprises I LLC, d/b/a 
        Reading Rhythms (“Reading Rhythms”, “we”, “us, or “our”) is committed to safeguarding your personal 
        information. We have adopted this privacy policy (“Privacy Policy”) to further our goal of protecting 
        your personal information across any website, mobile application, or other online platform that we own, 
        control, and/or operate (“Sites”). This Privacy Policy applies only to the Sites and applies only to 
        information that you provide us or that we collect in connection with your use and/or access of the Sites. 
        This Privacy Policy is also governed by and expressly incorporated into our Terms and Conditions.</p>
        <br>
        <p>This purpose of this Privacy Policy is to describe how and when Reading Rhythms collects, uses and shares 
        your information when you use and/or access our Sites, including when you book any Services we provide either 
        on our Sites or in person but booked through our Sites (“Services”), purchase any products we sell (“Products”), 
        or communicate with us. BY ACCESSING OR USING OUR SITES, SOLICITING AND/OR USING OUR SERVICES, PURCHASING OUR 
        PRODUCTS, OR COMMUNICATING WITH US, YOU AGREE TO BE BOUND BY THIS PRIVACY POLICY AND THE TERMS AND CONDITIONS. 
        IF YOU DO NOT AGREE WITH THIS PRIVACY POLICY OR THE TERMS AND CONDITIONS, DO NOT ACCESS OR USE OUR SITES OR 
        SERVICES.</p> 
        <br>
        <p>Your information is controlled by Reading Rhythms, and you hereby authorize us to use your information 
        anywhere we operate.</p>
        <br>
        <p>If you have any questions or comments about this Privacy Policy, please contact <a href="mailto:hello@readingrhythms.co" class="text-blue-500 underline">hello@readingrhythms.co</a></p>
        <br>
        <p class="text-xl underline text-center">Information Collection and Use</p>
        <br>
        <p>User-Provided Information: Through accessing our Sites, using our Services, and/or buying our Products, 
        you will provide certain personal information required for us to provide the Services or sell the Products. 
        Such information includes, but is not limited to, your full name, email address, phone number, date of birth, 
        business name (where applicable), social media information, physical address, property ownership information, 
        information necessary to process a payment, and any other information required for providing the Services, 
        selling our Products, and/or facilitating a transaction. You understand that failing to provide any 
        information requested may result in us being unable to provide the Services or sell our Products.</p>
        <br>
        <p>Third Parties: Reading Rhythms may receive information about you from third parties, such as if someone else 
        purchases a Product to send as a gift.</p>
        <br>
        <p>Cookies: Like many websites, we use cookies and similar technologies to collect additional website usage data 
        and to improve our Services and the function of our Sites. A cookie is a small data file that is transferred to 
        your computer or mobile device. Reading Rhythms may use both session cookies and persistent cookies to better 
        understand how you interact with our Services and Sites, to monitor aggregate usage by our users and web 
        traffic routing on our Services, and to customize and improve our Services and/or functionality of our Sites. 
        Most Internet browsers automatically accept cookies. You can instruct your browser, by changing its settings, 
        to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. However, 
        some Services may not function properly if you disable cookies.</p>
        <br>
        <p>Log Data: When you use our Sites, we may receive information (“Log Data”) such as your IP address, browser 
        type, operating system, the referring web page, pages visited, location, your mobile carrier, device 
        information (including device and application IDs), search terms, and cookie information. We receive Log Data 
        when you interact with our Sites. We may also receive Log Data when you click on, view or interact with links 
        on our Sites , including links to third-party Sites, or purchase Products.</p>
        <br>
        <p>Geolocation Data: We may collect data related to your physical location while you are using the Sites.</p>
        <br>
        <p>Commerce Services: All payments made for any Reading Rhythms Service or product are handled by third-party 
        payment services, who receive and handle your payment information directly. Reading Rhythms does not have 
        access to or store the entirety of your payment information, but rather only has access to your full name, 
        email address, physical address, and any other data required by our third-party payment processor, which 
        Reading Rhythms shall keep as confidential.</p>
        <br>
        <p>Use. Reading Rhythms will generally only use your data as necessary for providing Services, selling Products, 
        communication with you, and support related to the Services and Sites, improving the way we provide Services 
        and the functionality of the Sites, communicating with you, marketing and promotion purposes, and for 
        investigative or legal purposes.</p>
          

</BaseLayout>