---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title='Reading Rhythms | Terms & Conditions'>

<div>
    <a href="/" class="items-center justify-center py-4 px-8 bg-dark-gray text-white rounded-xl font-bold ">Back</a>
</div>


    <div class="text-center mt-10">
        <h1 class="text-xl">TW ENTERPRISES I LLC.</h1>
        <h1 class="text-xl">TERMS AND CONDITIONS</h1>
    </div>
    <div>
    <br>
        <p>Effective Date: January 1st, 2024.</p>
        <br>
        <p>This User Agreement (“<span class="font-bold">Agreement</span>”) is made between you (either an individual 
        or an entity, referred to herein as “you”) and TW Enterprises I LLC, d/b/a Reading Rhythms, 
        on behalf of itself and its affiliates (collectively, “<strong>Reading Rhythms</strong>”), 
        and governs your access to and use of Reading Rhythms’ websites, mobile Sites, 
        or other online platform that we own, control, and/or operate (“Sites”) 
        and your use of the services provided therein or in connection with such use or 
        access (“Services”), the purchase of any products sold by Reading Rhythms (“Products”), 
        or any other use/or access of our Sites.</p>
        <br>
        <p>PLEASE READ THE TERMS AND CONDITIONS OF THIS AGREEMENT CAREFULLY, INCLUDING WITHOUT LIMITATION ANY LINKED TERMS AND 
        CONDITIONS OR PRIVACY POLICY APPEARING OR REFERENCED BELOW, WHICH ARE HEREBY MADE PART OF THIS AGREEMENT. BY USING THE SITES 
        OR SERVICES, PURCHASING OUR PRODUCTS, OR OTHERWISE VISITING OR USING OUR SITES, YOU ARE AGREEING THAT YOU HAVE READ, AND THAT 
        YOU AGREE TO COMPLY WITH AND TO BE BOUND BY THE TERMS AND CONDITIONS OF THIS AGREEMENT AND ALL APPLICABLE LAWS AND REGULATIONS 
        IN THEIR ENTIRETY WITHOUT LIMITATION OR QUALIFICATION. IF YOU DO NOT AGREE TO BE BOUND BY THIS AGREEMENT, THEN YOU MAY NOT 
        ACCESS OR OTHERWISE USE THE SITES OR SERVICES OR PURCHASE OUR PRODUCTS. THIS AGREEMENT IS EFFECTIVE AS OF THE DATE THAT YOU 
        AGREE TO ITS TERMS AND CONDITIONS (“EFFECTIVE DATE”).</p>
        <br>
        <p>THESE TERMS AND CONDITIONS MAY BE UPDATED AT ANY TIME IN READING RHYTHMS’ SOLE DISCRETION. YOUR CONTINUED USE 
        OF THE APPLICATIONS OR SERVICES AFTER SUCH CHANGES SHALL CONSTITUTE YOUR ACCEPTANCE OF THE CHANGES.</p>
        <br>
        <p>IF YOU ARE AN INDIVIDUAL REPRESENTING AN ENTITY, YOU ACKNOWLEDGE THAT YOU HAVE THE APPROPRIATE AUTHORITY 
        TO ACCEPT THIS AGREEMENT ON BEHALF OF SUCH ENTITY. YOU MAY NOT USE THE LICENSED MATERIAL AND MAY NOT ACCEPT 
        THIS AGREEMENT IF YOU ARE NOT OF LEGAL AGE TO FORM A BINDING CONTRACT WITH READING RHYTHMS, 
        OR YOU ARE BARRED FROM USING OR RECEIVING THE LICENSED MATERIAL UNDER APPLICABLE LAW.</p>
        <br>

        <ol class="list-[upper-roman] mx-12">
            <li><span class="text-xl">Definitions</span>
                <ol class="list-[lower-alpha] mx-12 my-5">
                    <li>User: An individual or entity that accesses and/or uses the Sites for any purpose. 
                    Customers who purchase Products are also Users within the meaning of this Agreement.</li>
                    <li>Event: A social gathering hosted by Reading Rhythms where individuals meet up to read books and mingle.</li>
                    <li>Services: Intangible products, duties, uses, or labors offered through our Sites.</li>
                    <li>Products: Tangible goods sold by Reading Rhythms through the Sites or otherwise, including merchandise, Tickets, and apparel.</li>
                    <li>Tickets: A virtual license to attend an Event purchased for a fee. </li>
                    <li>Content: Services, Products, Trademarks, Tradenames, Techniques, Styles, Photographs, Videos, Users’ information, and any other data and/or information made available through the Sites or by any other means authorized by Reading Rhythms, and any copies and derivative works thereof. Content expressly includes any data relating to Services and Products.</li>
                    <li>Licensed Materials: Services, Products, Tickets, and Content, collectively.</li>
                    </li>
                </ol>
            </li>
            <li><span class="text-xl">General Use</span>
                <p class="my-5">By using or accessing our Sites, utilizing our Services, and/or purchasing our Products, you hereby 
                warrant and represent that you are at least 18 years of age. If you are not 18, you must have the permission 
                of an adult parent or guardian to use our Sites who can legally agree to this Agreement on Your behalf and 
                who will be responsible for your use of our Sites.</p>
                <p>Further, by using our Sites, utilizing any Services or purchasing any Products, you consent to receive 
                electronic communications from Reading Rhythms. These electronic communications may be notices about 
                applicable fees and charges, transactional or other information concerning or related to your use of the 
                Sites, Services, or Products, or for promotional purposes.</p> 
            </li>
            <li class="my-5"><span class="text-xl">Restrictions on Use of Sites and Services</span>
            <p class="my-5">You will not or attempt to:</p>
                <ol class="list-[lower-alpha] mx-12 my-5">
                    <li>Reverse engineer, decompile, disassemble, duplicate, or translate the Sites, Products, or Services, 
                    or other Reading Rhythms property, or otherwise attempt to derive the source code, formulae, techniques, 
                    trade secrets or know-how in or underlying the Sites, Products, or Services, or other Reading Rhythms 
                    property, or any portion thereof.</li> 
                    <li>Interfere with, modify, disrupt or disable features or functionality of the Sites, Products, 
                    or Services or other Reading Rhythms property, including, without limitation, any such mechanism 
                    used to restrict or control the functionality, or defeat, avoid, bypass, remove, deactivate or 
                    otherwise circumvent any software protection or monitoring mechanisms of the Sites or other 
                    Reading Rhythms property, unless otherwise authorized by this Agreement or in writing by Reading 
                    Rhythms;</li> 
                    <li>Sell, rent, lease, sublicense, distribute, redistribute, syndicate, create derivative works of, 
                    assign or otherwise transfer or provide access to, in whole or in part, the Sites, Products, or Services 
                    or other Reading Rhythms property to any third party except as expressly permitted herein or otherwise 
                    in writing by Reading Rhythms;</li>
                    <li>Permit other individuals or entities to create links to the Sites or other Reading Rhythms property 
                    on any other server, or wireless or Internet-based device, or otherwise make available to a third party, 
                    any token, key, password, or other login credentials to the Sites or other Reading Rhythms property, 
                    except as expressly authorized; or</li>
                    <li>Use the Sites, Products, or Services or other Reading Rhythms property for any illegal, unauthorized 
                    or other improper purposes.</li>
                    <li>Use other Users’ data unless expressly authorized by the User.</li> 
                </ol>
            </li>
            <li><span class="text-xl">Payments and Products</span>
                <p class="my-5">User shall pay the full amount, plus any additional taxes, shipping, handling, or other amounts, 
                for all Products and Services offered by Reading Rhythms through the Sites. Products as they appear on our 
                Sites are representations only; the actual Product you receive may differ slightly. 
                If you have any questions about our Products, please contact us at <a href="mailto:hello@readingrhythms.co" class="text-blue-500 underline">hello@readingrhythms.co</a></p>
            </li>
            <li><span class="text-xl">Shipping, Warranties, and Returns</span>
                <ol class="list-[lower-alpha] mx-12 my-5">
                    <li><span class="underline">Contact</span>: For all shipping/warranty/return inquiries, please email 
                    <a href="mailto:hello@readingrhythms.co" class="text-blue-500 underline">hello@readingrhythms.co</a> 
                    with your order details, photos of your issue, and specific request.</li>
                    <li><span class="underline">Delivery</span>: All Tickets are sold digitally only and can only be delivered to a valid email address. 
                    Any tangible Products sold through our Websites or via the Services shall be either shipped to an 
                    address designated by the User or sold at an Event.</li>
                    <li><span class="underline">Refunds</span>: All Sales are final. No refunds.</li>
                </ol>
            </li>
            <li><span class="text-xl">Representations By Users</span>
                <p class="my-5">By Accessing our Sites, Soliciting and/or scheduling Services, and/or Purchasing Products, you hereby represent 
                and warrant that:</p>
                <ol class="list-[lower-alpha] mx-12 my-5">
                    <li>You have the legal right arrange for the provision of Services at or the shipment of Products to the location 
                    you provide to Reading Rhythms;</li>
                    <li>You are the owner of all information provided to Reading Rhythms or you have secured all necessary licenses, 
                    permits, and other permissions necessary to provide information to Reading Rhythms for any use contemplated by 
                    this Agreement, including payment information;</li>
                    <li>You are of at least eighteen (18) years of age;</li>
                    <li>You will not use the Services or Products for any illicit or illegal purposes;</li>
                    <li>You will not discriminate or harass any employees, agents, contractors, or other representatives of Reading Rhythms 
                    because of the individual’s race, color, age, national origin, sex or expressed sexual identify, gender or expressed 
                    gender identify, religion, disability, marital status, familiar status, or other characteristic protected by federal, 
                    state, and/or local law.</li>
                </ol>
            </li>
            <li><span class="text-xl">Communication</span>
                <p class="my-5">You hereby authorize Reading Rhythms to communicate with you using any information you provide to Reading Rhythms.</p>
            </li>
            <li><span class="text-xl">Ownership and Feedback</span>
                <ol class="list-[lower-alpha] mx-12 my-5">
                    <li>Ownership. The Licensed Materials are licensed, and, except for Products purchased by Users, are not sold, and 
                    Reading Rhythms retains and reserves all rights not expressly granted in this Agreement. You expressly acknowledge that 
                    Reading Rhythms retains all worldwide right, title and interest in and to the Licensed Material and Content, including 
                    all rights in patents, trademarks, trade names, copyrights, trade secrets, know-how, data (including all Sites therefore), 
                    and all proprietary rights under the laws of the United States, any other jurisdiction or any treaty (“IP Rights”). 
                    You agree not to do anything inconsistent with such ownership, including without limitation, challenging Reading Rhythms’ 
                    ownership of Reading Rhythms’ trademarks, challenging the validity of the licenses granted herein, or otherwise copying 
                    or exploiting Reading Rhythms trademarks during or after the termination of this Agreement, except as specifically
                    authorized herein. If you acquire any rights in Reading Rhythms trademarks or any confusingly similar marks, 
                    by operation of law or otherwise, you will, at no expense to Reading Rhythms, immediately assign such rights to 
                    Reading Rhythms.</li>
                    <li>Feedback. You may provide Reading Rhythms with comments concerning the Licensed Material, Services, Products, or any other
                    item contemplated by this Agreement, or your evaluation and use thereof (collectively, “Feedback”). You hereby grant Reading Rhythms 
                    all rights, title, and ownership of such Feedback (including all intellectual property rights therein), and Reading Rhythms may use 
                    the Feedback for any and all commercial and non-commercial purposes with no obligation of any kind to you. Such feedback shall be 
                    treated as both non-confidential and non-proprietary and your provision of Feedback shall impose no obligation on the Company.</li>
                </ol>
            </li>
            <li><span class="text-xl">Other Important Terms</span>
                <ol class="list-[lower-alpha] mx-12 my-5">
                    <li>User Protection. You will not knowingly: 1) allow or assist any government entities, law enforcement, or other 
                    organizations to conduct surveillance on or an investigation into the Licensed Materials or other Company property or 
                    Content or any other information that would require a subpoena, court order, or other valid legal process, or that would 
                    otherwise have the potential to be inconsistent with users’ reasonable expectations of privacy; or 2) display, distribute 
                    or otherwise make available Content to any person or entity that You reasonably believe will use such data to violate the 
                    <a href="http://www.un.org/en/documents/udhr/" class="text-blue-500 underline">Universal Declaration of Human Rights</a> (located at <span class="text-blue-500 underline">http://www.un.org/en/documents/udhr/</span>), including without limitation 
                    Articles 12, 18, or 19.</li>
                    <li>Updates. You acknowledge and understand that the Sites will need to be updated from time to time. You further acknowledge 
                    that this Agreement applies to any updated Sites.</li>
                    <li>Government Use. The Licensed Materials and other Company property are “commercial items” as that term is defined at 48 
                    C.F.R. 2.101, consisting of “commercial computer software” and “commercial computer software documentation” as such terms are used 
                    in 48 C.F.R. 12.212. Any use, modification, derivative, reproduction, release, performance, display, disclosure or distribution of 
                    the Licensed Materials or other Company property by any government entity is prohibited, except as expressly permitted by the 
                    terms of this Agreement. Additionally, any use by U.S. government entities must be in accordance with 48 C.F.R. 12.212 and 48 
                    C.F.R. 227.7202-1 through 227.7202-4. If you use the Licensed Materials or other Company property in your official capacity 
                    as an employee or representative of a U.S., state or local government entity and you are legally unable to accept the indemnity, 
                    jurisdiction, venue or other clauses herein, then those clauses do not apply to such entity, but only to the extent as required by 
                    applicable law. For the purpose of this provision, contractor/manufacturer is TW Enterprises I LLC</li>
                    <li>Additional Warranty Disclaimer. THE SITES AND PRODUCTS ARE PROVIDED “AS IS” AND “WITH ALL FAULTS” AND THE ENTIRE RISK TO THE QUALITY 
                    AND PERFORMANCE OF THE SITES IS WITH YOU. TO THE FULLEST EXTENT PERMITTED BY LAW, WE EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND 
                    (EXPRESS, IMPLIED OR STATUTORY) WITH RESPECT TO THE SITES, WHICH INCLUDES BUT IS NOT LIMITED TO, ANY IMPLIED OR STATUTORY WARRANTIES 
                    OF MERCHANTABILITY, FITNESS FOR A PARTICULAR USE OR PURPOSE, TITLE, AND NON-INFRINGEMENT OF INTELLECTUAL PROPERTY RIGHTS. WE FURTHER 
                    MAKE NO WARRANTY THAT THE SITES WILL MEET YOUR REQUIREMENTS OR THAT THIS WEBSITE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR FREE 
                    OR THAT DEFECTS IN THIS WEBSITE WILL BE CORRECTED. WE MAKE NO WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE 
                    SITES OR AS TO THE ACCURACY OR RELIABILITY OF ANY INFORMATION OBTAINED THROUGH THE SITES. NO ADVICE OR INFORMATION, WHETHER ORAL OR 
                    WRITTEN, OBTAINED BY YOU THROUGH THE SITES OR FROM READING RHYTHMS SHALL CREATE ANY WARRANTY. WE DISCLAIM ALL EQUITABLE INDEMNITIES.</li>
                    <li>Indemnification. You shall defend Reading Rhythms against any and all actions, demands, claims and suits (including without limitation 
                    product liability claims), and indemnify and hold Reading Rhythms harmless from any and all liabilities, damages and costs (including 
                    without limitation reasonable attorneys’ fees) to the extent arising out of your use of the Licensed Materials or other use of the 
                    Content in any manner. In the event Reading Rhythms seeks indemnification or defense from you under this provision, Reading Rhythms 
                    will promptly notify you in writing of the claim(s) brought against Reading Rhythms for which it seeks indemnification or defense. 
                    Reading Rhythms reserves the right, at its option and sole discretion, to assume full control of the defense of claims with legal 
                    counsel of its choice. You may not enter into any third-party agreement, which would, in any manner whatsoever, affect the rights 
                    of Reading Rhythms, constitute an admission of fault by Reading Rhythms or bind Reading Rhythms in any manner, without the prior 
                    written consent of Reading Rhythms. In the event Reading Rhythms assumes control of the defense of such claim, Reading Rhythms shall 
                    not settle any such claim requiring payment from you without your prior written approval.</li>
                    <li>Limitation of Liability. IN NO EVENT WILL READING RHYTHMS BE LIABLE TO YOU OR ANY OTHER USERS FOR ANY INDIRECT, SPECIAL, INCIDENTAL, 
                    EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES OR ANY LOSS OF OR DAMAGE TO USE, DATA, BUSINESS, GOODWILL OR PROFITS ARISING OUT OF OR 
                    IN CONNECTION WITH THIS AGREEMENT OR DISPLAYING, COPYING, OR DOWNLOADING ANY MATERIALS FROM THE SITES OR RESULTING FROM YOUR USE OF 
                    SUCH MATERIALS, FROM YOUR PURCHASE OR USE OF THE LICENSED MATERIALS, INCLUDING ANY PRODUCTS, OR FROM YOUR ACCESS OF THIRD-PARTY 
                    LINKS VIA THE SITES. IN ANY CASE, READING RHYTHMS’ AGGREGATE LIABILITY FOR ANY AND ALL CLAIMS UNDER THIS AGREEMENT WILL NOT EXCEED 
                    THE AMOUNTS YOU ACTUALLY PAID PURSUANT TO THIS AGREEMENT. THE FOREGOING LIMITATIONS, EXCLUSIONS AND DISCLAIMERS SHALL APPLY 
                    REGARDLESS OF WHETHER SUCH LIABILITY ARISES FROM ANY CLAIM BASED UPON CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE), STRICT 
                    LIABILITY OR OTHERWISE, AND WHETHER OR NOT THE PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH LOSS OR DAMAGE. INSOFAR AS 
                    APPLICABLE LAW PROHIBITS ANY LIMITATION ON LIABILITY HEREIN, THE PARTIES AGREE THAT SUCH LIMITATION WILL BE AUTOMATICALLY MODIFIED, 
                    BUT ONLY TO THE EXTENT SO AS TO MAKE THE LIMITATION COMPLIANT WITH APPLICABLE LAW. THE PARTIES AGREE THAT THE LIMITATIONS ON 
                    LIABILITIES SET FORTH HEREIN ARE AGREED ALLOCATIONS OF RISK AND SUCH LIMITATIONS WILL APPLY NOTWITHSTANDING THE FAILURE OF ESSENTIAL 
                    PURPOSE OF ANY LIMITED REMEDY.</li>
                    <li>Miscellaneous. This Agreement constitutes the entire agreement among the parties with respect to the subject matter and supersedes 
                    and merges all prior proposals, understandings and contemporaneous communications. Any attempted assignment in violation of this 
                    paragraph is null and void, and Reading Rhythms may terminate this Agreement. This Agreement does not create or imply any partnership, 
                    agency or joint venture. This Agreement shall be governed by and construed according to the laws of the State of New York, without 
                    giving effect to any choice of law rule that would cause the application of the laws of any other jurisdiction. Any claim, complaint, 
                    or dispute that arises out of or relates in any way to this Agreement, shall be subject to binding arbitration in accordance with 
                    the American Arbitration Association’s (AAA) Rules and Mediation Procedures. The Arbitration shall be held in New York County, 
                    New York and the Parties agree to bear the cost of the arbitration equally, however, any final award, all costs and expenses including 
                    all reasonable attorneys’ fees will be awarded to the prevailing party. ANY PROCEEDINGS, INCLUDING ANY ARBITRATION OR LITIGATION, 
                    BROUGHT TO RESOLVE ANY DISPUTE ARISING OUT OF OR IN CONNECTION WITH THIS AGREEMENT AGAINST COMPANY SHALL BE BROUGHT AND CONDUCTED ON 
                    AN INDIVIDUAL BASIS ONLY. CLIENT WAIVES THE RIGHT TO ASSERT OR PARTICIPATE IN ANY CLAIMS AGAINST COMPANY AS A REPRESENTATIVE, MEMBER, 
                    OR OTHERWISE IN ANY CLASS OR REPRESENTATIVE ACTION AND NO INDIVIDUAL ACTIONS SHALL BE COMBINED OR CONSOLIDATED FOR ANY REASON. 
                    Notwithstanding the foregoing, the Company has the right to seek injunctive and/or other equitable relief with respect to the 
                    enforcement of any obligations regarding restrictive covenants, trade secrets, confidential information, inventions, work product 
                    or other intellectual property arising under this Agreement in a state of federal court of competent jurisdiction.</li>
                    <li>You further agree to reimburse Reading Rhythms for any costs and fees, including reasonable attorney’s fees, it expends in enforcing 
                    the terms of this Agreement. Despite the foregoing, You agree that money damages would be an inadequate remedy for Reading Rhythms 
                    in the event of a breach or threatened breach of a provision of this Agreement protecting Reading Rhythms’ intellectual property or 
                    Confidential Information, and that in the event of such a breach or threat, Reading Rhythms, in addition to any other remedies to 
                    which it is entitled, is entitled to such preliminary or injunctive relief (including an order prohibiting Company from taking 
                    actions in breach of such provisions), without the need for posting bond, and specific performance as may be appropriate. 
                    The parties agree that neither the United Nations Convention on Contracts for the International Sale of Goods, nor the Uniform 
                    Computer Information Transaction Act (UCITA) shall apply to this Agreement, regardless of the states in which the parties do business 
                    or are incorporated. No waiver by Reading Rhythms of any covenant or right under this Agreement will be effective unless memorialized 
                    in a writing duly authorized by Reading Rhythms. If any part of this Agreement is determined to be invalid or unenforceable by a 
                    court of competent jurisdiction, that provision will be enforced to the maximum extent permissible and the remaining provisions of 
                    this Agreement will remain in full force and effect.</li>
                    <li>Incorporated Terms. Your use of the Licensed Material, the Sites, and Our Services is further subject to and governed by the 
                    following terms and conditions: 
                        <ol class="list-[lower-roman] mx-12 my-2">
                            <li>Reading Rhythms Privacy Policy located at: <a href="https://readingrhythms.co/privacy-policy" class="text-blue-500 underline">https://readingrhythms.co/privacy-policy</a></li>
                        </ol>
                    </li>         
                </ol>
            </li>
        </ol>
        
    </div>
</BaseLayout>

