---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title='Reading Rhythms | Ticketing Agreement'>

<div>
    <a href="/" class="items-center justify-center py-4 px-8 bg-dark-gray text-white rounded-xl font-bold ">Back</a>
</div>


    <div class="text-center mt-10">
        <h1 class="text-xl">TW ENTERPRISES I LLC.</h1>
        <h1 class="text-xl">Ticketing Agreement</h1>
    </div>
    <div>
    <br>
        <br>
        <p>PLEASE READ THE FOLLOWING TICKETING AGREEMENT CAREFULLY. BY CLICKING “ACCEPTED AND AGREED TO”, 
        YOU AGREE TO THE FOLLOWING, AS WELL AS OUR <a href="https://readingrhythms.co/terms" class="text-blue-500 underline">TERMS AND 
        CONDITIONS</a> AND <a href="https://readingrhythms.co/privacy-policy" class="text-blue-500 underline">PRIVACY POLICY.</a></p>
        
        <p>This Ticketing Agreement (“Agreement”) is made effective as of the date you click “Accepted and Agreed 
        to” (the “Effective Date”) and is by and between TW Enterprises I LLC (the “Licensor”), and the 
        individual or entity executing this Agreement (“Licensee”). Licensee and Licensor may be referred 
        to each individually as a “Party” and collectively as the “Parties.” All capitalized terms used 
        herein shall have the same meaning as defined by our Terms and Conditions. </p>
        <br>
        <br>

        <p class="text-center"><span class="text-xl mx-12">RECITALS</span></p>
        <br>
        <p>WHEREAS, the Licensor is in the business of hosting in-person social gatherings centered 
        around reading along with music, food, drink, and art (each an “Event”); and</p>
        <br>
        <p>WHEREAS, the Licensee wishes to attend an Event;</p>
        <br>
        <p>NOW THEREFORE, in consideration of the above recitals and the mutual promises and benefits contained 
        herein, the Parties hereby agree as follows:</p>
        <br>

        <ol class="list-[upper-roman] mx-12">
            <li><span class="text-xl underline">Events</span>
                <p class="my-5">The date, time, location, and details for each event are listed on our Website. Licensee 
                    is purchasing a Ticket for the Event Licensee selected on the Website. Additional terms and 
                    conditions specific to the Event may be posted or otherwise communicated to the Licensee 
                    prior to or at the Event, and Licensee agrees to be bound by and follow such additional 
                    terms and conditions. Licensor reserves the right to refuse entry to eject from the Location 
                    any Licensee who refuses to comply with this Agreement or any other applicable terms, 
                    conditions, laws, regulations, or rules, or who is otherwise disrupting the Event or harassing 
                    other Licensees.</p>
                </li>
            </li>
            <li><span class="text-xl underline">Event Location</span>
                <p class="my-5">Licensor does not own the Locations where Events take place unless otherwise stated. To that 
                effect, the owner or operator of any such location may have additional terms and conditions for 
                anyone who enters their Location. Licensee agrees further to apply by such additional terms and 
                conditions.</p> 
            </li>
            <li class="my-5"><span class="text-xl underline">Licenses Granted</span>
            <p class="my-5">A validly purchased Ticket grants the holder license to attend the Event listed on the 
            Ticket during the time listed thereon.</p>
            </li>
            <li><span class="text-xl underline">Payments and Refunds</span>
            <ol class="list-[lower-alpha] mx-12 my-5">
                    <li><span class="underline">Payments</span>: Payments are made through our Website using 
                    third-party payment processing services, such as Apple Pay and credit card processing.</li>
                    <li><span class="underline">Refunds</span>: All ticket purchases are final. No refunds will be 
                    offered. In the event that an Event has to be rescheduled, Licensee shall receive a Ticket to the 
                    rescheduled date free of charge.</li>
                </ol>
            </li>
            <li><span class="text-xl underline">Representations and Warranties</span>
            <p class="my-5">Licensee hereby Represents and Warrants:</p>
                <ol class="list-[lower-alpha] mx-12 my-5">
                    <li>If Licensee is an entity, the individual entering into this Agreement is authorized to do so 
                    on behalf of the entity and the entity in good standing and is authorized to do business pursuant 
                    to applicable law;</li>
                    <li>Licensee or the individual signing on behalf of Licensee is at least eighteen years old;</li>
                    <li>Licensee will comply with all applicable laws, rules, and regulations while attending the Event;</li>
                    <li>Licensee has read our Privacy Policy and Terms and Conditions, understands their contents 
                    and that this Agreement is expressly subject to their terms and conditions, specifically 
                    including, but not limited to, the Indemnification, Limitation of Liability, Warranty, </li>
                    <li>All information provided to Licensee is accurate and can be provided without violating the rights of any third party.</li> 
                </ol>
            </li>
            <li><span class="text-xl underline">Licensee’s Responsibilities</span>
                <p class="my-5">BLicensee hereby agrees to:</p>
                <ol class="list-[lower-alpha] mx-12 my-5">
                    <li>If Licensee is purchasing a Ticket for a third party that said third party agrees to be bound 
                    by this Agreement.</li>
                    <li>Ensure that any third parties for whom Licensee has purchased a Ticket executes a Liability 
                    Waiver and Photo Release, attached hereto as Exhibits A and B, respectively.</li>
                </ol>
            </li>
            <li><span class="text-xl underline">Indemnification/Assumption of the Risk</span>
                <p class="my-5">The Licensee shall indemnify and hold harmless the Licensor and its officers, 
                members, managers, employees, agents, contractors, sublicensees, affiliates, subsidiaries, 
                successors and assigns from and against any and all damages, liabilities, costs, expenses, 
                settlements, claims, and/or judgments, including, without limitation, reasonable attorneys’ 
                fees and disbursements that any of them may suffer from or incur and that arise or result primarily 
                from (i) the negligence or tortious conduct of Licensee or Licensee’s Users, employees, officers, 
                contractors, or other agents;  (ii) Licensee’s breach of any of its obligations, warranties, 
                representations, or duties under this Agreement; or (iii) any death, injury, or bodily or other harm 
                to Licensee resulting from, arising out of, or suffered in connection with Licensee’s attendance at 
                or participation in an Event.</p>
                <p>LICENSEE VOLUNTARILY ASSUMES ALL RISKS, HAZARDS AND DANGERS arising from or relating in any way to 
                the risk of  death, injury, bodily harm, and/or contracting a communicable disease or illness 
                (including exposure to COVID-19, a bacteria, virus, or other pathogen capable of causing a 
                communicable disease or illness), whether occurring before, during, or after the Event, however caused 
                or contracted, and hereby waives all claims and potential claims against Licensor to such risks. 
                Additionally, Licensee agrees to the terms and conditions of the Liability Waiver, attached hereto as 
                Exhibit A.</p>
                <br>
            </li>
            <li><span class="text-xl underline">Limitation of Liability</span>
                <p class="my-5">Except for acts of gross negligence or willful misconduct by Licensor, Licensor’s aggregate 
                liability to Licensee for damages in connection with this Agreement, regardless of the form of action 
                giving rise to such liability (under any theory, whether in contract, tort, statutory or otherwise) 
                shall not exceed the amount paid by Licensee for the Ticket(s) for the Event at which the facts and 
                circumstances arose giving rise to such liability. To the fullest extent permitted by law, the 
                Licensor shall not be liable to Licensee or Licensee’s Users for any indirect, exemplary, special, 
                consequential or incidental damages of any kind, or for any damages resulting from loss or 
                interruption of business, lost data or lost profits, arising out of or relating to this Agreement or 
                the subject matter hereof or the use of the DTS System, however caused, even if Licensee has been 
                advised of or should have known of the possibility of such damages.</p>  
            </li>
            <li><span class="text-xl underline">Term and Termination</span>
               <p class="my-5">This Agreement shall become effective as of the Effective Date and will continue until the Event 
               Licensee is attending is completed.</p>
               <p>The Parties’ obligations pursuant to Sections IV, V, VI, VII, VIII, X, XI, XIII  and XIII, shall 
               survive the termination of this Agreement.</p>
               <br>
            </li>
             <li><span class="text-xl underline">Non-Solicitation</span>
               <p class="my-5">Licensee shall not, either during the term of this Agreement or for a period of two 
               (2) years following the termination of this Agreement for any reason, directly or indirectly contact 
               or solicit any customers, vendors, contractors, or employees of the Licensor or any of its 
               subsidiaries or affiliates for the purpose of providing similar services or for the purpose of 
               employing them directly or for a third party. </p>
            </li>
            <li><span class="text-xl underline">Force Majeure</span>
               <p class="my-5">Licensor will not be deemed in breach hereunder for any cessation, interruption, 
               cancellation, or delay in the performance of its obligations under this Agreement due to causes beyond 
               Licensor’s reasonable control, including earthquake, flood, or other natural disaster, epidemic, 
               pandemic, act of God, labor controversy, civil disturbance, government orders and rules, terrorism, 
               war (whether or not officially declared) or the inability to obtain sufficient supplies, 
               transportation, or other essential commodity or service required in the conduct of its business, or 
               any change in or the adoption of any law, regulation, judgment, or decree. </p>
            </li>
            <li><span class="text-xl underline">Intellectual Property</span>
               <p class="my-5">Licensee recognizes the Licensor’s right, title and interest in and to all service 
               marks, trademarks and trade names used by Licensor and agrees not to engage in any activities or 
               commit any acts, directly or indirectly, that may contest dispute or otherwise impair Licensor’s 
               right, title and interest therein, nor shall Licensee cause diminishment of value of said trademarks 
               or trade names through any act or representation. </p>
            </li>
            <li><span class="text-xl underline">Photo and Video Release and Consent</span>
               <p class="my-5">Licensee hereby understands and agrees that Licensor, or others at the direction of 
               Licensor, may take photo, video, or make other reproductions of the Event, including photo and video 
               of Licensee. Licensee hereby consents to Licensor’s use of such photos, videos, and similar content 
               according to the terms set for the in the Photo/Video Consent and Release, attached hereto as Exhibit 
               B.</p>
            </li>
            <li><span class="text-xl underline">Modifications</span>
               <p class="my-5">No amendment, change or modification of this Agreement shall be valid unless in 
               writing and agreed to by both Parties.</p>
            </li>
             <li><span class="text-xl underline">Assignment</span>
               <p class="my-5">The Licensee may not, without the written consent of Licensor, assign, subcontract 
               or delegate Licensee’s obligations under this Agreement.</p>
            </li>
             <li><span class="text-xl underline">Governing Law and Conflict Resolution</span>
               <p class="my-5">This Agreement shall be governed by and construed in the same manner as our Terms 
               and Conditions.</p>
            </li>
            <li><span class="text-xl underline">Successors and Assigns</span>
               <p class="my-5">This Agreement will be binding upon Licensee’s heirs, executors, administrators and 
               other legal representatives and will be for the benefit of the Licensor, its successors, and its 
               assigns.</p>
            </li>
            <li><span class="text-xl underline">Waiver</span>
               <p class="my-5">No waiver by the Licensor of any breach of this Agreement shall be a waiver of any 
               preceding or succeeding breach.  No waiver by the Licensor of any right under this Agreement shall be 
               construed as a waiver of any other right.  The Licensor shall not be required to give notice to 
               enforce strict adherence to all terms of this Agreement.</p>
            </li>
            <li><span class="text-xl underline">Notice</span>
               <p class="my-5">Notices and all other communications contemplated by this Agreement shall be in 
               writing and shall be deemed to have been duly given when personally delivered or when mailed by 
               registered or certified mail, return receipt requested or overnight mail, or to an email address 
               designated by the Parties.</p>
            </li>
            <li><span class="text-xl underline">Electronic Consent</span>
               <p class="my-5">By clicking “I have read and agree to this License and Use Agreement”, Licensee agrees 
               to be bound by its terms and all other Agreements which are expressly incorporated herein or otherwise 
               required for carrying out the purpose of this Agreement.</p>
            </li>
            <li><span class="text-xl underline">Headings</span>
               <p class="my-5">Headings used in this Agreement are provided for convenience only and shall not be 
               used to construe meaning or intent. </p>
            </li>
        </ol>

        <br>

        <div class="text-center">
            <h1 class="text-xl underline">EXHIBIT A</h1>
            <br>
            <h1 class="text-xl underline">LIABILITY WAIVER AND RELEASE</h1>
            <br>
        </div>

        <p>I hereby understand and acknowledge that in exchange for my attendance at an Event put on by 
        TW Enterprises I LLC, d/b/a Reading Rhythms (“RR”) at the date listed on the Ticket I used to gain 
        entry, I agree to the following:</p>
            <ol class="list-decimal mx-12 my-5">
                <li>I agree to observe and obey all posted rules and warnings, and further agree to follow any 
                oral instructions or directions given RR or the employees, representatives or agents of RR and 
                the owner or operator of the Location where the Event takes place. </li>
                <li>I recognize that there are certain inherent risks associated with attending the Event. I 
                assume full responsibility for personal injury to myself and further release and discharge RR, 
                whether caused by myself or other parties.</li>
                <li>I agree to indemnify and defend RR against all claims, causes of action, damages, judgments, 
                costs or expenses, including attorney fees and other litigation costs, which may in any way arise 
                from my participation in or attendance at the Event.</li>
                <li>I agree to pay for all damages to the Location of the Event caused by my negligent, reckless, 
                or willful actions.</li>
                <li>Any legal or equitable claim that may arise from participation in the above shall be resolved 
                under New York law.</li>
            </ol>

        <p>I HAVE READ THIS DOCUMENT AND UNDERSTAND IT. I FURTHER UNDERSTAND THAT BY PURCHASING A TICKET TO AN 
        EVENT, I VOLUNTARILY SURRENDER CERTAIN LEGAL RIGHTS.</p>   

         <div class="text-center">
            <h1 class="text-xl underline">EXHIBIT B</h1>
            <br>
            <h1 class="text-xl underline">PHOTO RELEASE</h1>
            <br>
        </div> 

        <p class="my-5">I hereby grant to TW Enterprises I LLC, d/b/a Reading Rhythms (“RR”), their affiliated companies, 
        licensees and assignees (collectively “Producers”), a perpetual irrevocable right and license to use 
        my image, likeness, and any audio and visual recordings or photographs made by Producers of me, my 
        likeness, voice, and/or image (collectively, the “Materials”) taken during my attendance at an Event 
        put on by Producers or while I remain at the Location after the Event has completed. That use may 
        involve inclusion of the Materials in advertising, trade, and/or marketing initiatives in any media 
        at Producers’ discretion, throughout the world, in perpetuity.</p>
        <p class="my-5">I further grant Producers complete discretion in how they edit and use the Materials, including in 
        combination with any other images, text, film, audio, and/or visual works or materials.  I further 
        understand that the Materials may be cropped and/or altered in any manner Producers may desire, in 
        Producers’ sole discretion, including in any electronic format or medium, and that the Producers are 
        under no obligation to use the Materials. Further, I waive any right to inspect the Materials. I waive 
        any “moral rights” in connection with the Materials and release Producers from any cause of action, 
        liability, loss or damage of any nature arising out of Producers’ exercise of the rights that I have 
        granted in this agreement or Producers’ use of the Materials. I further warrant that the rights I have 
        granted in this document and any information or material supplied by me to Producers do not and will 
        not violate the rights of any third party and understand and agree that I have no rights of ownership, 
        use, or otherwise in the Materials.</p>
        <p class="my-5">I acknowledge that I will receive or have received enjoyment, good will, and satisfaction working 
        with Producers creating the Materials, and that will be my sole compensation and consideration for 
        this agreement.  I understand that I will receive no cash compensation for work as a model, actor, or 
        subject and no compensation for any further use, re-use, re-distribution, re-editing, and/or 
        re-release of any Materials or any other compensation or remuneration whatsoever and hereby waive any 
        claim to any further compensation or remuneration that I may have under any applicable law. </p>
        <p class="my-5">I acknowledge and agree that the Producers may assign this agreement, that it does not create an 
        employment relationship, and that its terms shall be binding upon me, my heirs, executors, 
        representatives and assigns. I execute this agreement freely and voluntarily with full understanding 
        of its contents and represent that I am at least 18 years of age. I also represent that I am not a 
        member of SAG-AFTRA or any similar performer’s union or guild, or if I am a member of any such union 
        or guild then I declare that I fully understand that my involvement with the Producers’ activities 
        does not fall within the scope of a SAG-AFTRA production. This release shall be governed by the laws 
        of the state of New York and any dispute shall take place in a court of competition in the county of 
        Kings County, New York.</p>

        <p>I HAVE READ THIS EXHIBIT AND UNDERSTAND IT. I FURTHER UNDERSTAND THAT BY PURCHASING A TICKET TO AN 
        EVENT, I VOLUNTARILY SURRENDER CERTAIN LEGAL RIGHTS.</p>
        
    </div>
</BaseLayout>

