---
interface Props {
	type: 'photo' | 'video';
	src: string;
	caption: string;
}

const { type, src, caption } = Astro.props;
---

<div class="absolute aspect-square border border-transparent rounded-xl shadow-sm overflow-hidden">
    {type === 'photo' ? (
        <img src={src} alt={caption} class="w-full object-cover object-center" />
    ) : (
        <video src={src} class="w-full object-cover object-center" muted autoplay loop />
    )}
    <p class="absolute bottom-3 left-3 py-1.5 px-3 bg-white text-dark-gray rounded-lg text-sm">{caption}</p>
</div>
