@font-face {
  font-family: 'Ziclets';
  src: url('/fonts/Ziclets.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PrestigeElite';
  src: url('/fonts/PrestigeEliteStd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Prestige Elite';
  src: url('/fonts/PrestigeEliteStd-Slanted.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Prestige Elite';
  src: url('/fonts/PrestigeEliteStd-Bd.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Prestige Elite';
  src: url('/fonts/PrestigeEliteStd-BdSlanted.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

.masonry {
  --masonry-columns: 1;
  --masonry-gap: 1rem;
}

@media (min-width: 1024px) {
  .masonry {
    --masonry-columns: 2;
    --masonry-gap: 1rem;
  }
}

/* Load only if grid-template-rows: masonry is supported by the browser, else use the fallback */
@supports (grid-template-rows: masonry) {
  .masonry {
    display: grid;
    grid-template-columns: repeat(var(--masonry-columns), 1fr);
    grid-gap: var(--masonry-gap);
    grid-template-rows: masonry;
  }

  .masonry > * {
    margin-bottom: 0;
  }
}

/* Fallback */
.masonry {
  column-count: var(--masonry-columns);
  column-gap: var(--masonry-gap);
}

.masonry > div {
  margin-bottom: var(--masonry-gap);
  break-inside: avoid;
}
