---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
    type: 'photo' | 'video';
    src: string;
    caption: string;
}

const { type, src, caption } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/media/*.{jpeg,jpg,png,webp}');

if (type === 'photo' && !images[src]) {
    throw new Error(`"${src}" does not exist in glob: "/src/assets/media/*.{jpeg,jpg,png,webp}"`);
}
---

<div class="relative w-full h-full overflow-hidden">
    {type === 'photo' ? (
        <Image src={images[src]()} alt={caption || ''} class="w-full h-full object-cover object-center" />
    ) : (
        <video src={src} class="w-full h-full object-cover object-center" muted autoplay loop />
    )}
    {caption && (
        <p class="absolute bottom-3 left-3 inline-flex py-1.5 px-3 bg-white text-dark-gray rounded text-sm leading-none"><span class="mt-1">{caption}</span></p>
    )}
</div>
