---
import MainHead from '@components/layout/MainHead.astro';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
	fullPage?: boolean | undefined;
}

const { title, description, fullPage } = Astro.props;
---

<html lang="en">
	<head>
			<MainHead title={title} description={description} />
	</head>
	<body class="font-serif">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PS29M37L"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<div id="loader">
			<div class="loader"></div>
		</div>
		<main class={`relative ${fullPage ? 'full-height-mobile w-screen md:h-screen flex items-center justify-center' : 'w-full h-full mb-4 md:mb-0 p-8 md:p-16'}`}>
      <slot />
    </main>
	</body>
</html>

<script is:inline>
function setFullHeight() {
	const vh = window.innerHeight;
	document.documentElement.style.setProperty('--full-vh', `${vh}px`);
}

window.addEventListener('resize', setFullHeight);

// When the window loads, hide the loader
window.addEventListener('load', function() {
	setFullHeight();
	document.getElementById('loaderWrapper').style.display = 'none';
});
</script>

<!-- Using scopes styles to eliminate any FOUT with loading tailwind -->
<style>
#loaderWrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 50;
}

.loader {
	width: 2.5rem; 
	height: 2.5rem;
	border: 4px solid #4B5563;
	border-radius: 50%;
	border-top-color: transparent;
	animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>